<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>displayCRUD</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td:hover {
        background-color: #ccc;
    }

    .btn-edit {
        outline: none;
        background-color: brown;
        border: none;
        color: white;
        cursor: pointer;
        margin: 2px;
        border-radius: 3px;
    }

    .btn-del {
        outline: none;
        background-color: blueviolet;
        border: none;
        color: white;
        cursor: pointer;
        margin: 2px;
        border-radius: 3px;
    }
</style>

<body>
    <h1>This is display CRUD view template file</h1>
    <table>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstName %>
                </td>
                <td>
                    <%= dataTable[i].lastName %>
                </td>
                <td>
                    <%= dataTable[i].address %>
                </td>
                <td>
                    <div>
                        <a href="/edit-crud?id=<%= dataTable[i].id %>" class="btn-edit">Edit</a>
                        <a href="/delete-crud?id=<%= dataTable[i].id %>" class="btn-del">Delete</a>
                    </div>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>